<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="UTF-8">
    <title>Display Book</title>

</head>
<body>
    <p th:text="'-----Book:'+ ${book.name} +'-----'"> </p>

    <a th:href="${book.picture}"><img th:src="${book.picture}" width="123" height="168" title="Book" alt="BBook"></a><br>

    <tr>
        <td> Description: </td><br>
        <td th:text="${book.description}" /><br>
        <td> Author: </td>
        <td th:text="${book.author}" /><br>
        <td> Publisher: </td>
        <td th:text="${book.publisher}" /><br>
        <td> Cost: </td>
        <td th:text="${book.cost}" /><br>
        <td> Stock: </td>
        <td th:text="${book.inventory}" /><br>
        <td> ISBN: </td>
        <td th:text="${book.ISBN}" /><br>
        <br><br>
    </tr>


    <form method="get" th:action="'/addtoCart'">
        <input type ="hidden" name="bookID" th:value="${book.id}">
        <input type="submit" value="Add To Cart" />
    </form>
    <form method="get" th:action="'/'">
        <input type="submit" value="Go back" />
    </form>

</body>
</html>