<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <h1>Add a New Book</h1>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<fieldset>

<form th:action="@{/getBook}" th:object="${newBook}" method="post">
        <p> <em>Please fill in the information of the book you would like to add: </em></p>


        <p><label>Title: </label><input type="text" placeholder="Enter the title of the book..." id="name" name="name" /></p>
        <p><label>Author: </label><input type="text" placeholder="Enter the author's first and last name..."id="author" name="author" /></p>
        <p><label>Publisher: </label><input type="text" placeholder="Enter the publisher..." id="publisher" name="publisher" /></p>
        <p><label>ISBN: </label><input type="number" placeholder="Enter the International Standard Book  Number..." id="ISBN" name="ISBN" /></p>
        <p><label>Picture Link: </label><input type="url" id="picture" name="picture" /></p>
        <p><label>Cost: </label> <input type="number" name="cost" id="cost" placeholder="0.00"/></p>
        <p><label>Stock: </label><input type="number" placeholder="0" id="inventory" name="inventory" /></p>
        <p><label>Description: </label><textarea rows="6" style="resize:none" placeholder="Enter the book's description" id="description" name="description" ></textarea></p>

    <button type="submit">Add</button>
</form>
</fieldset>

<form method="get" th:action="'/'">
    <button id="back" type="submit" value="Go back">Go Back</button>
</form>

<form method="get" th:action="'/newUser'">
    <button id="back" type="submit" value="signup">sign up</button>
</form>

</body>
</html>