<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- SAMPLE FILE FOR ADDING A BUDDYINFO (Can be refactored for sign up of a user)
<body>
<form th:action="@{/getBuddy}" th:object="${newBuddy}" method="post">
    <p>Name: </p><input type="text" id="name" name="name" /><br>
    <p>Number: </p><input type="text" id="number" name="number" /><br>
    <p>Email: </p><input type="text" id="email" name="email" /><br>
    <p>Address: </p><input type="text" id="address" name="address" /><br>
    <input type="hidden" name="bookID" th:value="${bookID}">
    <button type="submit">Add</button>
</form>
<br><br><br>
<form method="get" th:action="'/book'">
    <input type="hidden" name="id" th:value="${bookID}">
    <input type="submit" value="Go back" />
</form>
</body>
</html>
-->