<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../static/css/landmark.css" rel="stylesheet" th:href="@{/css/landmark.css}"/>

</head>

    <body>

        <h2>Welcome to Amazin </h2>

        <h1 class="css-all-caps"> "Once you Learn to Read, you will be Forever FREE" </h1>
        <p>-Frederick Douglass</p>


        <form action="#" th:action="@{/signins}">
            <button type="submit" id="signins">Sign In</button>
        </form>
        <form action="POST" th:action="@{/signup}">
            <button type="submit" id="signup"> Create your Amazin account"</button>
        </form>

    </body>
</html>