<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>


<h2>Welcome to Amazin (This page will be Edited)</h2>


<form action="#" th:action="@{/signin}">
    <button type="submit" id="signin">Sign In</button>
</form>
<form action="POST" th:action="@{/newUser}">
    <input type="submit" value="Create your Amazin account" />
</form>

</body>
</html>